<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>
    <form onsubmit="submitHandler(event)">
        <label for="product">Product Name: </label>
        <input id="product" name="productName" type="text">
        <button type="submit">Add Product</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/product.js"></script>
</body>

    </html>